@font-face {
    font-family: 'Body Font';
    src: url('../Fonts/Body-font.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    font-size: 14px;
}

@font-face {
    font-family: 'Neue Haas Dispaly Medium';
    src: url('../Fonts/NeueHaasDisplayMediu.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body{
    font-family: 'Body Font', Arial, sans-serif;
}

h1,h2,h3 {
    font-family: 'Neue Haas Dispaly Medium', Arial, sans-serif;
}

.mainNavbar{
    padding: 0 4vw;
}

.mainNavbar h1{
    font-size: 2.75rem;
}
.upperNav{
    width: 100%;
    padding: 15px 0;
    
    border-bottom: 2px black solid;

}

.upperNav-container{
    width: 80%;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin: auto;
}

.right-upperNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 35%;
    
}

.left-upperNav {
    width: 35%;
    display: flex;
    justify-content: flex-start;
}



.search-container{
    display: flex;
    align-items: center;
}

.search-container-icon{
    margin-right: 10px;
}

.upperNav-icon {
    width: 20px;
    height: 20px;
}

.search-input{
    border: none;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.country-icon {
    display: flex;
    gap: 10px;
    align-items: center;
}

.country-icon .fi{
    border-radius: 100%;
    height: 25px;
    width: 25px;
    border: 2px solid black;
    background-size: cover;
}

.lowerNav{
    padding: 2px 20px;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-item{
    list-style: none;
    padding: 20px 0;
}

.menu-item:hover{
    border-bottom: 3px solid black;
}
.menu-item a {
    text-decoration: none;
    color: black;
}

.menu-item a:hover {
    font-weight: 800;
}

.hero-section{
    height: 90vh;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0, 0)), url("../Images/placeholder-imagery.png");
    background-size: cover;
    background-position: center;
    transition: background 0.4s ease;
    padding: 4vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
}

.hero-section:hover{
    background: linear-gradient(to bottom, transparent, rgba(0,0,0, 0.55)), url("../Images/placeholder-imagery.png");
    background-size: cover;
    background-position: center;
}


.hero-h2{
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text{
    color: white;
    line-height: 26px;
}

.button {
    padding: 10px 45px;
    margin-top: 30px;
    border: none;
    font:inherit;
}

.white-button{
    background-color: '#fffff';
}
